@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html, body {
    font-family: 'Outfit', sans-serif !important;
    @apply antialiased text-slate-900 bg-white;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  *, *::before, *::after {
    font-family: 'Outfit', sans-serif !important;
  }

  h1, h2, h3, h4, h5, h6, p, span, a, button, input, select, textarea, label {
    font-family: 'Outfit', sans-serif !important;
  }
}
